*{
    box-sizing: border-box;
    font-family: "Museo Sans W01", "Museo Sans", "San Francisco", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
form li input.field.text, form li textarea.textarea{
    padding: 0 .75em;
    margin-top: .3125em;
    line-height: 2.8125em;
    background: #F5F7F9;
    border: 1px solid #d5dee6;
    border-radius: 6px;
    font-weight: 500;
    min-height: 2.8125em;
    -webkit-appearance: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

form li input.field.text:focus, form li textarea.textarea:focus{
    outline:none;
    border-color:#1786fe;
}

form li{
    margin-top: 15px;
}
form li.focused{
    
}

form li label.desc{
    font-size: 14px!important;
    font-weight: 300!important;
}

form li > span{
    line-height:50px!important;
}

form li span label{
    opacity: .7;
    line-height: auto;
}

.submit{
    color: #fff;
    background-color: #50bb17;
    border-color: #50bb17;
    line-height: 3.125em;
    margin: 1.5625em auto 0;
    cursor: pointer;
    padding:0 30px!important;
    border-radius: 6px;
    text-align: center;
    border: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease
}

.submit:active, .submit:hover{
    background-color: #479120;
}